In [1]:
!pip install delta-spark==1.1.0

Collecting delta-spark==1.1.0
  Downloading delta_spark-1.1.0-py3-none-any.whl (19 kB)
Requirement already satisfied: importlib-metadata>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from delta-spark==1.1.0) (4.11.4)
Collecting pyspark<3.3.0,>=3.2.0
  Downloading pyspark-3.2.4.tar.gz (281.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.5/281.5 MB 7.8 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata>=1.0.0->delta-spark==1.1.0) (3.9.0)
Requirement already satisfied: py4j==0.10.9.5 in /opt/conda/lib/python3.10/site-packages (from pyspark<3.3.0,>=3.2.0->delta-spark==1.1.0) (0.10.9.5)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.4-py2.py3-none-any.whl size=282040922 sha256=1b0c5abedf166228d3fe2f814de6eec1443664b316abe6d1a5eb049c33c11a98
  Stored in directory: /home/jovyan/.cache/pip/wheels/bf/f6/18/acaa11d057c23e749eea1773c9516d58fbc8ddcdd1492ad3fd
Successfully built pyspark
Installing collected packages: pyspark, delta-spark
  Attempting uninstall: pyspark
    Found existing installation: pyspark 3.3.0
    Can't uninstall 'pyspark'. No files were found to uninstall.
  Attempting uninstall: delta-spark
    Found existing installation: delta-spark 2.3.0
    Uninstalling delta-spark-2.3.0:
      Successfully uninstalled delta-spark-2.3.0
Successfully installed delta-spark-1.1.0 pyspark-3.3.2

In [2]:
!pip install delta-spark

Requirement already satisfied: delta-spark in /opt/conda/lib/python3.10/site-packages (1.1.0)
Requirement already satisfied: importlib-metadata>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from delta-spark) (4.11.4)
Collecting pyspark<3.3.0,>=3.2.0
  Using cached pyspark-3.2.4-py2.py3-none-any.whl
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata>=1.0.0->delta-spark) (3.9.0)
Requirement already satisfied: py4j==0.10.9.5 in /opt/conda/lib/python3.10/site-packages (from pyspark<3.3.0,>=3.2.0->delta-spark) (0.10.9.5)
Installing collected packages: pyspark
  Attempting uninstall: pyspark
    Found existing installation: pyspark 3.3.0
    Can't uninstall 'pyspark'. No files were found to uninstall.
Successfully installed pyspark-3.3.2

In [3]:
from pyspark.sql.types import *
from pyspark.sql import SparkSession
from IPython.core.display import HTML
from pyspark.sql import functions as F
from delta import *

display(HTML("<style>pre { white-space: pre !important; }</style>"))

spark = (SparkSession.builder
         .config("spark.jars","""/home/jovyan/jars/aws-java-sdk-core-1.11.534.jar,
                                 /home/jovyan/jars/aws-java-sdk-dynamodb-1.11.534.jar,
                                 /home/jovyan/jars/aws-java-sdk-s3-1.11.534.jar,
                                 /home/jovyan/jars/hadoop-aws-3.2.2.jar,
                                 /home/jovyan/jars/postgresql-42.3.3.jar""")
         .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000")
         .config("spark.hadoop.fs.s3a.access.key", "ZiVYnHFvBt2HumCAXmQG")
         .config("spark.hadoop.fs.s3a.secret.key", "oVNgBEZ5PISLiwF25fJkoazHGXRFB7mJeiBcVygd")
         .config("spark.hadoop.fs.s3a.path.style.access", True)
         .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
         .config("spark.hadoop.fs.s3a.aws.credentials.provider", "org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider")
         .getOrCreate()
        )

In [4]:
# Definindo o diretório de origem e o diretório de destino
input_path_format = "s3a://bronze/yellow_taxi_files/yellow_tripdata_2023-{month:02d}.parquet"
output_path = "s3a://silver/prd_yellow_taxi_table"

# Loop para iterar sobre os meses de 01 a 05
for month in range(1, 6):
    # Formatando o caminho do arquivo para o mês atual
    parquet_path = input_path_format.format(month=month)

    # Carregar os arquivos Parquet
    df = spark.read.parquet(parquet_path)

    # Caso haja discrepâncias de tipo entre os arquivos, faça o cast necessário
    df = (
        df
        .withColumn("VendorID", F.col("VendorID").cast(IntegerType()))
        .withColumn("tpep_pickup_datetime", F.col("tpep_pickup_datetime").cast(TimestampType()))
        .withColumn("tpep_dropoff_datetime", F.col("tpep_dropoff_datetime").cast(TimestampType()))
        .withColumn("passenger_count", F.col("passenger_count").cast(IntegerType()))
        .withColumn("trip_distance", F.col("trip_distance").cast(DoubleType()))
        .withColumn("RatecodeID", F.col("RatecodeID").cast(IntegerType()))
        .withColumn("store_and_fwd_flag", F.col("store_and_fwd_flag").cast(StringType()))
        .withColumn("PULocationID", F.col("PULocationID").cast(IntegerType()))
        .withColumn("DOLocationID", F.col("DOLocationID").cast(IntegerType()))
        .withColumn("payment_type", F.col("payment_type").cast(LongType()))
        .withColumn("fare_amount", F.col("fare_amount").cast(DoubleType()))
        .withColumn("extra", F.col("extra").cast(DoubleType()))
        .withColumn("mta_tax", F.col("mta_tax").cast(DoubleType()))
        .withColumn("tip_amount", F.col("tip_amount").cast(DoubleType()))
        .withColumn("tolls_amount", F.col("tolls_amount").cast(DoubleType()))
        .withColumn("improvement_surcharge", F.col("improvement_surcharge").cast(DoubleType()))
        .withColumn("total_amount", F.col("total_amount").cast(DoubleType()))
        .withColumn("congestion_surcharge", F.col("congestion_surcharge").cast(DoubleType()))
        .withColumn("airport_fee", F.col("airport_fee").cast(DoubleType()))
    )

    # Selecionando apenas as colunas necessárias
    df = (
        df.select(
        'VendorID',
        'passenger_count',
        'total_amount',
        'tpep_pickup_datetime',
        'tpep_dropoff_datetime'
        )
        .filter(
                (F.year(df["tpep_pickup_datetime"]) == 2023) & 
                (F.month(df["tpep_pickup_datetime"]).between(1, 5))
            )
      )

    # Exibindo o DataFrame para conferir
    df.show()

    # Salvando os dados no formato Delta no path final com append
    (
        df
        .write
        .format('delta')
        .mode('append')  # Usando append para adicionar ao Delta Lake
        .save(output_path)
    )

+--------+---------------+------------+--------------------+---------------------+
|VendorID|passenger_count|total_amount|tpep_pickup_datetime|tpep_dropoff_datetime|
+--------+---------------+------------+--------------------+---------------------+
|       2|              1|        14.3| 2023-01-01 00:32:10|  2023-01-01 00:40:36|
|       2|              1|        16.9| 2023-01-01 00:55:08|  2023-01-01 01:01:27|
|       2|              1|        34.9| 2023-01-01 00:25:04|  2023-01-01 00:37:49|
|       1|              0|       20.85| 2023-01-01 00:03:48|  2023-01-01 00:13:25|
|       2|              1|       19.68| 2023-01-01 00:10:29|  2023-01-01 00:21:19|
|       2|              1|        27.8| 2023-01-01 00:50:34|  2023-01-01 01:02:52|
|       2|              1|       20.52| 2023-01-01 00:09:22|  2023-01-01 00:19:49|
|       2|              1|       64.44| 2023-01-01 00:27:12|  2023-01-01 00:49:56|
|       2|              1|       28.38| 2023-01-01 00:21:44|  2023-01-01 00:36:40|
|       2|              1|        19.9| 2023-01-01 00:39:42|  2023-01-01 00:50:36|
|       2|              1|       19.68| 2023-01-01 00:53:01|  2023-01-01 01:01:45|
|       1|              4|       46.55| 2023-01-01 00:43:37|  2023-01-01 01:17:18|
|       2|              1|       37.32| 2023-01-01 00:34:44|  2023-01-01 01:04:25|
|       2|              2|       66.31| 2023-01-01 00:09:29|  2023-01-01 00:29:23|
|       2|              1|       24.24| 2023-01-01 00:33:53|  2023-01-01 00:49:15|
|       2|              1|       16.25| 2023-01-01 00:13:04|  2023-01-01 00:22:10|
|       2|              1|       29.76| 2023-01-01 00:45:11|  2023-01-01 01:07:39|
|       1|              1|        29.5| 2023-01-01 00:04:33|  2023-01-01 00:19:22|
|       1|              3|        13.6| 2023-01-01 00:03:36|  2023-01-01 00:09:36|
|       1|              2|        20.6| 2023-01-01 00:15:23|  2023-01-01 00:29:41|
+--------+---------------+------------+--------------------+---------------------+
only showing top 20 rows

+--------+---------------+------------+--------------------+---------------------+
|VendorID|passenger_count|total_amount|tpep_pickup_datetime|tpep_dropoff_datetime|
+--------+---------------+------------+--------------------+---------------------+
|       1|              2|         9.4| 2023-02-01 00:32:53|  2023-02-01 00:34:34|
|       2|              1|        -5.5| 2023-02-01 00:35:16|  2023-02-01 00:35:30|
|       2|              1|         5.5| 2023-02-01 00:35:16|  2023-02-01 00:35:30|
|       1|              0|       74.65| 2023-02-01 00:29:33|  2023-02-01 01:01:38|
|       2|              1|        25.3| 2023-02-01 00:12:28|  2023-02-01 00:25:46|
|       1|              1|       32.25| 2023-02-01 00:52:40|  2023-02-01 01:07:18|
|       1|              1|        50.0| 2023-02-01 00:12:39|  2023-02-01 00:40:36|
|       1|              1|       14.64| 2023-02-01 00:56:53|  2023-02-01 01:00:37|
|       2|              1|       44.12| 2023-02-01 00:20:40|  2023-02-01 00:33:56|
|       2|              1|       12.42| 2023-02-01 00:33:51|  2023-02-01 00:37:34|
|       2|              1|       14.64| 2023-02-01 01:00:45|  2023-02-01 01:06:00|
|       2|              1|        16.0| 2023-02-01 00:10:48|  2023-02-01 00:18:09|
|       2|              1|        30.3| 2023-02-01 00:00:28|  2023-02-01 00:12:54|
|       2|              1|       25.56| 2023-02-01 00:35:06|  2023-02-01 00:45:47|
|       2|              5|       15.25| 2023-02-01 00:06:00|  2023-02-01 00:10:31|
|       2|              5|       20.52| 2023-02-01 00:31:02|  2023-02-01 00:41:26|
|       2|              5|        12.2| 2023-02-01 00:47:56|  2023-02-01 00:53:02|
|       1|              1|       98.15| 2023-02-01 00:01:09|  2023-02-01 00:51:49|
|       1|              1|        83.8| 2023-02-01 00:41:47|  2023-02-01 01:14:14|
|       2|              2|        26.9| 2023-02-01 00:22:16|  2023-02-01 00:40:34|
+--------+---------------+------------+--------------------+---------------------+
only showing top 20 rows

+--------+---------------+------------+--------------------+---------------------+
|VendorID|passenger_count|total_amount|tpep_pickup_datetime|tpep_dropoff_datetime|
+--------+---------------+------------+--------------------+---------------------+
|       2|              1|        11.1| 2023-03-01 00:06:43|  2023-03-01 00:16:43|
|       2|              2|       76.49| 2023-03-01 00:08:25|  2023-03-01 00:39:30|
|       1|              0|       28.05| 2023-03-01 00:15:04|  2023-03-01 00:29:26|
|       1|              1|        24.7| 2023-03-01 00:49:37|  2023-03-01 01:01:05|
|       2|              1|       14.64| 2023-03-01 00:08:04|  2023-03-01 00:11:06|
|       1|              1|        18.0| 2023-03-01 00:09:09|  2023-03-01 00:17:34|
|       1|              1|        20.5| 2023-03-01 00:32:21|  2023-03-01 00:42:08|
|       1|              1|        15.7| 2023-03-01 00:45:12|  2023-03-01 00:52:37|
|       1|              1|        40.4| 2023-03-01 00:19:43|  2023-03-01 00:39:37|
|       2|              1|        22.2| 2023-03-01 00:08:42|  2023-03-01 00:18:45|
|       2|              1|        15.3| 2023-03-01 00:48:06|  2023-03-01 00:57:15|
|       1|              1|       12.95| 2023-03-01 00:10:23|  2023-03-01 00:13:06|
|       2|              5|        15.0| 2023-03-01 00:22:22|  2023-03-01 00:32:01|
|       1|              1|        25.1| 2023-03-01 00:01:34|  2023-03-01 00:16:18|
|       2|              1|       17.16| 2023-03-01 00:09:42|  2023-03-01 00:15:50|
|       2|              1|       12.96| 2023-03-01 00:45:09|  2023-03-01 00:49:08|
|       2|              1|       18.35| 2023-03-01 00:55:38|  2023-03-01 01:06:05|
|       1|              1|        13.8| 2023-03-01 00:10:30|  2023-03-01 00:13:49|
|       1|              1|        17.1| 2023-03-01 00:20:49|  2023-03-01 00:30:31|
|       2|              2|        93.8| 2023-03-01 00:29:18|  2023-03-01 01:06:01|
+--------+---------------+------------+--------------------+---------------------+
only showing top 20 rows

+--------+---------------+------------+--------------------+---------------------+
|VendorID|passenger_count|total_amount|tpep_pickup_datetime|tpep_dropoff_datetime|
+--------+---------------+------------+--------------------+---------------------+
|       1|              2|        39.9| 2023-04-01 00:14:49|  2023-04-01 00:45:01|
|       2|              1|        81.8| 2023-04-01 00:00:24|  2023-04-01 00:56:19|
|       1|              2|        18.4| 2023-04-01 00:03:50|  2023-04-01 00:14:42|
|       1|              1|        16.0| 2023-04-01 00:53:18|  2023-04-01 01:01:28|
|       2|              2|        17.4| 2023-04-01 00:07:00|  2023-04-01 00:17:16|
|       1|              6|       17.85| 2023-04-01 00:08:59|  2023-04-01 00:15:39|
|       2|              1|       61.92| 2023-04-01 00:27:52|  2023-04-01 00:43:07|
|       2|              1|       33.62| 2023-04-01 00:48:38|  2023-04-01 01:08:37|
|       1|              0|        48.8| 2023-04-01 00:22:28|  2023-04-01 00:34:29|
|       2|              1|       17.16| 2023-04-01 00:27:06|  2023-04-01 00:34:06|
|       2|              1|        13.9| 2023-04-01 00:34:42|  2023-04-01 00:41:30|
|       2|              1|        14.6| 2023-04-01 00:47:38|  2023-04-01 00:53:55|
|       2|              1|       18.86| 2023-04-01 00:59:10|  2023-04-01 01:08:55|
|       2|              2|       44.04| 2023-04-01 00:19:36|  2023-04-01 00:49:31|
|       1|              2|        36.1| 2023-04-01 00:04:59|  2023-04-01 00:30:10|
|       2|              1|       27.24| 2023-04-01 00:16:49|  2023-04-01 00:33:01|
|       2|              1|        26.0| 2023-04-01 00:11:21|  2023-04-01 00:24:43|
|       2|              1|       24.72| 2023-04-01 00:38:58|  2023-04-01 00:52:20|
|       1|              2|        12.2| 2023-04-01 00:03:43|  2023-04-01 00:09:16|
|       1|              1|        17.4| 2023-04-01 00:12:17|  2023-04-01 00:20:34|
+--------+---------------+------------+--------------------+---------------------+
only showing top 20 rows

+--------+---------------+------------+--------------------+---------------------+
|VendorID|passenger_count|total_amount|tpep_pickup_datetime|tpep_dropoff_datetime|
+--------+---------------+------------+--------------------+---------------------+
|       1|              0|       51.65| 2023-05-01 00:33:13|  2023-05-01 00:53:01|
|       1|              2|       57.15| 2023-05-01 00:42:49|  2023-05-01 01:11:18|
|       1|              2|        64.2| 2023-05-01 00:56:34|  2023-05-01 01:13:39|
|       2|              1|       47.09| 2023-05-01 00:00:52|  2023-05-01 00:20:12|
|       1|              0|       59.15| 2023-05-01 00:05:50|  2023-05-01 00:19:41|
|       1|              0|        69.0| 2023-05-01 00:42:54|  2023-05-01 01:04:49|
|       2|              1|       64.56| 2023-05-01 00:50:34|  2023-05-01 01:12:09|
|       1|              1|       14.35| 2023-05-01 00:13:58|  2023-05-01 00:18:10|
|       2|              1|        17.1| 2023-04-30 23:48:31|  2023-04-30 23:57:35|
|       2|              1|        19.9| 2023-05-01 00:28:47|  2023-05-01 00:39:33|
|       2|              1|       78.67| 2023-05-01 00:18:49|  2023-05-01 00:43:41|
|       1|              1|        53.5| 2023-05-01 00:52:48|  2023-05-01 01:17:35|
|       2|              1|       14.64| 2023-05-01 00:55:22|  2023-05-01 00:58:20|
|       2|              1|        19.1| 2023-05-01 00:28:12|  2023-05-01 00:36:09|
|       2|              2|       76.89| 2023-05-01 00:04:27|  2023-05-01 00:26:38|
|       1|              1|         9.4| 2023-05-01 00:07:05|  2023-05-01 00:08:45|
|       1|              1|       17.25| 2023-05-01 00:30:56|  2023-05-01 00:36:33|
|       2|              1|       83.88| 2023-05-01 00:47:34|  2023-05-01 01:17:55|
|       2|              1|        10.8| 2023-05-01 00:53:26|  2023-05-01 00:57:47|
|       2|              1|       69.55| 2023-05-01 00:34:15|  2023-05-01 00:51:43|
+--------+---------------+------------+--------------------+---------------------+
only showing top 20 rows

In [5]:
from pyspark.sql.types import *
from pyspark.sql import functions as F
from delta import *

df_delta = spark.read.format("delta").load('s3a://silver/prd_yellow_taxi_table')

df_delta.show()

+--------+---------------+------------+--------------------+---------------------+
|VendorID|passenger_count|total_amount|tpep_pickup_datetime|tpep_dropoff_datetime|
+--------+---------------+------------+--------------------+---------------------+
|       1|              2|         9.4| 2023-02-01 00:32:53|  2023-02-01 00:34:34|
|       2|              1|        -5.5| 2023-02-01 00:35:16|  2023-02-01 00:35:30|
|       2|              1|         5.5| 2023-02-01 00:35:16|  2023-02-01 00:35:30|
|       1|              0|       74.65| 2023-02-01 00:29:33|  2023-02-01 01:01:38|
|       2|              1|        25.3| 2023-02-01 00:12:28|  2023-02-01 00:25:46|
|       1|              1|       32.25| 2023-02-01 00:52:40|  2023-02-01 01:07:18|
|       1|              1|        50.0| 2023-02-01 00:12:39|  2023-02-01 00:40:36|
|       1|              1|       14.64| 2023-02-01 00:56:53|  2023-02-01 01:00:37|
|       2|              1|       44.12| 2023-02-01 00:20:40|  2023-02-01 00:33:56|
|       2|              1|       12.42| 2023-02-01 00:33:51|  2023-02-01 00:37:34|
|       2|              1|       14.64| 2023-02-01 01:00:45|  2023-02-01 01:06:00|
|       2|              1|        16.0| 2023-02-01 00:10:48|  2023-02-01 00:18:09|
|       2|              1|        30.3| 2023-02-01 00:00:28|  2023-02-01 00:12:54|
|       2|              1|       25.56| 2023-02-01 00:35:06|  2023-02-01 00:45:47|
|       2|              5|       15.25| 2023-02-01 00:06:00|  2023-02-01 00:10:31|
|       2|              5|       20.52| 2023-02-01 00:31:02|  2023-02-01 00:41:26|
|       2|              5|        12.2| 2023-02-01 00:47:56|  2023-02-01 00:53:02|
|       1|              1|       98.15| 2023-02-01 00:01:09|  2023-02-01 00:51:49|
|       1|              1|        83.8| 2023-02-01 00:41:47|  2023-02-01 01:14:14|
|       2|              2|        26.9| 2023-02-01 00:22:16|  2023-02-01 00:40:34|
+--------+---------------+------------+--------------------+---------------------+
only showing top 20 rows

In [6]:
df_delta.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)

In [7]:
result = (
    df_delta.groupBy(F.year("tpep_pickup_datetime").alias("year"), F.month("tpep_pickup_datetime").alias("month"))
    .agg(F.sum("total_amount").alias("total_amount_sum"))
    .withColumn("total_amount_sum", F.format_number("total_amount_sum", 2))
    .orderBy("year", "month")
)

# Exibindo o resultado
result.show()

+----+-----+----------------+
|year|month|total_amount_sum|
+----+-----+----------------+
|2023|    1|   82,863,594.11|
|2023|    2|   78,381,600.43|
|2023|    3|   94,634,027.66|
|2023|    4|   92,956,843.11|
|2023|    5|  101,765,282.92|
+----+-----+----------------+